[
    {
        "api_base_url": "https://example1.mastodon.instance",
        "access_token": "YOUR_ACCESS_TOKEN_FOR_INSTANCE_1"
    },
    {
        "api_base_url": "https://example2.mastodon.instance",
        "access_token": "YOUR_ACCESS_TOKEN_FOR_INSTANCE_2"
    },
    {
        "api_base_url": "https://example3.mastodon.instance",
        "access_token": "YOUR_ACCESS_TOKEN_FOR_INSTANCE_3"
    }
]
